<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>Raise your voice</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet"> 
    <body>
        <header>
            <h1>
              <BugReportIcon />
              Grievance Redressal Portal
            </h1>
            <p>Raise issues anonymously</p>
        </header>
        <div class="container">