<%- include('partials/header'); %>

<h1>Update Password</h1>
<form action="/newPassword" method="post">
    <input type="text" name="code" placeholder="4-digit code">
    <input type="password" name="password" placeholder="New Password">
    <button type="submit" name="reset" class="login" value="<%=email%>">Reset</button><br>
    <button type="submit" name="initial" class="hide" value="<%=resetCode%>"></button>

</form>
<%- include('partials/footer'); %>