<%- include('partials/header'); %>

<h1>Reset Password</h1>
<form action="/reset" method="POST">
    <input type="email" name="username" placeholder="Email Address">
    <button type="submit" name="forgot" class="forgot">Log In</button>
</form>

<%- include('partials/footer'); %>